<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<div th:fragment="footer">
    <hr>
    <span><a th:href="@{/}">Home</a></span> |
    <span><a th:href="@{/courses}">List courses</a></span> |
    <span><a th:href="@{/add-course-page}">Add a course</a></span>
    <hr>
</div>
</body>
</html>