<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Courses</title>
</head>
<body>
    <h1>Courses</h1>
    <ul>
        <li><a th:href="@{/courses}">List courses</a></li>
        <li><a th:href="@{/add-course-page}">Add a course</a></li>
    </ul>
    <hr>
</body>
</html>